{% extends 'simple.html' %}

{% block js-css %}
    <script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/static/js/jquery.csrf.js"></script>
    <script type="text/javascript" src="/static/js/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.pages.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.jgrowl.css">

    <script type="text/javascript">
    function un_block(){$.unblockUI();}
     $().ready(function() {
         var flag = false;
         var thePage = 1;
         $("#explort_csv").hide();
         function showErr(msg,callback){
             $.jGrowl(msg,{header:"系统提示",timeout:5000});
             !callback || (flag=true);
         }
         function to2bits(flt) {
            if(parseFloat(flt) == flt){return Math.round(flt * 100) / 100;}
            else{return 0;}
            }

         function NewDate(str) {//专为IE兼容NewDate
            str = str.split('-');
            var date = new Date();
            date.setUTCFullYear(str[0], str[1] - 1, str[2]);
            date.setUTCHours(0, 0, 0, 0);
            return date;
            }

         $("#date_start_input").datepicker({showOn: "focus",constrainInput:"true",minDate:""});
         $("#date_end_input").datepicker({showOn: "focus",constrainInput:"true"});
         $("#date_end_input").datepicker('setDate', new Date());
         $("#code_input").val("");
         $("#date_start_input").val("");
         $( "#accordion" ).accordion({icons:{header: "ui-icon-circle-plus",headerSelected: "ui-icon-circle-minus"}});
         $("#staff_input").autocomplete('/staff/list/', {
             minChars: 0,
             max:100,
             width: 300,
             autoFill: false,
             mustMatch:true
        });
         $("#staff_input").result(function(event, data, formatted) {
            if (data){
                $("#staff_id_input").val(data[1]);}
        });
         $("#customer_input").autocomplete('/csearch/', {
            minChars: 0,
            max:100,
            width: 300,
            autoFill: false,
            mustMatch: true,
            formatItem: formatItem
        });
        function formatItem(row) {
             return row[0] + "\t卡号:" + row[1] + "\t电话:" + row[2];
        }

        $("#customer_input").result(function(event, data, formatted) {
            if (data){
                $("#customer_id_input").val(data[3]);}
        });

        $(".order_detail_div .m_btn").live("click",function(){
            //console.log($(this).closest(".order_detail_div"));
            $("#sale_edit_frame").attr({src:"/sales/mini/?q="+($(this).closest(".order_detail_div").attr("id"))});
            $.blockUI({
                message: $("#frame_pa"),
                css: {
                    width: '940px',
                    height: '500px',
                    left: ($(window).width() - 940) / 2 + 'px',
                    top: '15%'
                }
            });
            $(".blockOverlay").attr("title","点击返回页面").click($.unblockUI);
        });



        $("#order_search [href='javascript:void(0)']").click(function() {
            if ($(this).attr("id")=="simple10") {postSearch(false,"simple",10)}
            else if ($(this).attr("id")=="simple100") {postSearch(true,"simple",100)}
            else  {postSearch(false,"simple",1)}
        });

        $("#result_div [href='javascript:void(0)']").live('click', function(event) {
            $(this).parent().toggleClass("opened");
            //$("#result_div .order_detail_div:visible").slideToggle();
            var oid =$(this).parent().next().attr("id");
            $("#"+oid).slideToggle();
            $("#"+oid).html().length>0 ||
            $.ajax({
                type: "GET",
                url: "/sales/show/?q="+oid,
                dataType: "json",
                timeout:10000,
                beforeSend: function () {$("#"+oid).parent().toggleClass("ac_loading")},
                complete:function(){$("#"+oid).parent().toggleClass("ac_loading")},
                success:function(msg){
                    var oStr="";
                    $("#"+oid).html("");
                    $(msg.data).each(function(){
                        oStr=oStr+"<tr><td width='200px'><a href='/depots/product/?id="+this.pid+"' class='blue' target='_blank'>"+this.pname+"</a></td>\n<td>"+this.psize+"</td>\n<td>"+this.price+"</td>\n"+
                                "<td>"+this.quantity+"</td>\n"+
                                "<td>"+this.price*this.quantity+"</td></tr>\n";
                    });
                    $("#"+oid).append("<table class='table_order_detail'><tr><td><table class='table_contain'><thead><tr>\n"+
                                "<td>名称</td><td >规格</td><td>价格</td><td>数量</td><td>小计</td>\n"+
                                "</tr></thead>\n"+oStr+"\n</table></td><tr></table>\n");
                    $("#"+oid).append("<table style='width:100%;text-align:center;'><tr>\n"+
                                "<td width='15%'>备注: </td>\n"+
                                "<td >"+msg.note.replace(/<[^>]*>/g, "")+"</td>\n"+
                                "<td style='width:20%'><button type='button' class='m_btn' ><span> <img src='/static/images/css/edit_small.png' class=' png'></span> 开始修改</button></td></tr></table>\n");
                },
                error:function(msg){
                    console.log(msg);
                }

            });
        });

    function postSearch(reload,type,count){
            var postData;
            if (type == "simple" || type == "exact"){
                if (reload == false){postData="{'type':'"+type+"','page':'"+1+"','count':'"+count+"'}";}
                else{postData="{'type':'"+type+"','page':'"+thePage+"','count':'"+count+"'}";}
            }
            else{
                postData = "{'type':'"+type+"','page':'"+thePage+"','code':'"+ $("#code_input").val() +"','shop':'"+$("#shop_input").val()+"','staff':'"+$("#staff_id_input").val()+"','customer':'"+ $("#customer_id_input").val()+"','sDate':'"+$("#date_start_input").val()+
                           "','eDate':'"+$("#date_end_input").val()+"','note':'"+$("#note_input").val()+"','hidden':'"+$("#hidden_input").is(":checked")+"','explort':'"+$("#explort_input").is(":checked")+"'}";
            }
                        $.ajax({type: "POST",
                            url: "/sales/search/",
                            contentType:"text/plain",
                            dataType: "json",
                            data:postData,
                            timeout:10000,
                            beforeSend: function () {
                                $("#order_search_btn").attr("disabled",true);
                                $.blockUI({ message: '<h3><img src="/static/images/css/loading.gif" /></h3>'});
                                //$.blockUI({ message: '<h3><img src="/static/images/css/load.gif" /> 结果获取中（提醒：系统只回溯3个月内的订单）...</h3>'});
                            },
                            success:function(msg){
                                if (msg.rows > 0 && type == "normal" && $("#explort_input").is(":checked")){$("#explort_csv").show();}
                                else {$("#explort_csv").hide();}
                                if (msg.flag){
                                    //console.log(msg.data)
                                    var pageRows =20; //页面容量
                                    var pageCount = Math.ceil(msg.rows/pageRows)
                                    $("#result_div").children().detach();
                                    $("#result_div").append("<div style='margin: 0 auto;text-align:center;'><h1>共 "+msg.rows+" 条 / "+pageCount+" 页匹配销售记录 总金额："+msg.t_total+"元</h1></div>");
                                    $(msg.data).each(function(){
                                    $("#result_div").append("<div style='background-color:#f2f2f2;border-top: 1px dashed #ddd;'><div class='order_div' ><a href='javascript:void(0)' class='blue' title='点击展开'> "
                                                     +this.code+" ID:"+this.id+" 折扣:"+this.discount+"  实收金额:"+ to2bits(this.total)+"</a> 销售人员:<a href='/staff/?id="+this.staff_id+"' class='blue'>"+this.staff+"</a> 顾客:<a href='/customer/?id="+this.customer_id+"' class='blue'>"
                                                     +this.customer+"</a> [日期："+this.date+"] </div><div class='order_detail_div' id='"+this.id+"'></div><div>")
                                    });

                                    //if(reload){}
                                    PageClick = function(pageclickednumber) {
                                    $("#pager_div").pager({ pagenumber: pageclickednumber, pagecount: pageCount, buttonClickCallback: PageClick });
                                    thePage = pageclickednumber;
                                    if (msg.type=="simple"){postSearch(true,"simple",100);}
                                    else{postSearch(false,"normal",0);}
                                    //$("#result").html("Clicked Page " + pageclickednumber);
                                };
                                $("#pager_div").pager({ pagenumber: thePage, pagecount: pageCount, buttonClickCallback: PageClick });
                                $("#pager_div").show();

                                }
                                else{
                                    $(msg.data).each(function(){
                                         showErr(this);
                                    });
                                    $("#result_div").children().detach();
                                    $("#pager_div").hide();

                                }

                                $.unblockUI();


                                //$("#result_div").unblock();
                                $("#order_search_btn").attr("disabled",false);
                            },
                                error:function(){
                                    $("#order_search_btn").attr("disabled",false);
                                    $.unblockUI();
                                    //$("#result_div").unblock();
                                    showErr("查询请求处理超时，重试无效后请联系管理人员");
                                }
                        })
                    }

         if (window.location.search.indexOf("?cid=")>-1) {
             var cid = window.location.search.replace("?cid=","");
             if (parseInt(cid)){
                 $("#customer_id_input").val(cid);
                 postSearch(true,"all",0)
             }
         }
         else if (window.location.search.indexOf("?sid=")>-1){
             var sid = window.location.search.replace("?sid=","");
             if (parseInt(sid)){
                 postSearch(false,"exact",sid)
             }

         }

    $("#order_search_btn").click(function(){
        /^[A-Za-z0-9]{0,20}$/.test($("#code_input").val()) || showErr("订单编号由4-20位数字及字母组成",true);
        var regDate = /(([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))-02-29)/;
        ($("#date_start_input").val().length<1 || regDate.test($("#date_start_input").val()))  || showErr("日期请按照 2011-01-30 的格式填写",true);
        ($("#date_end_input").val().length<1 || regDate.test($("#date_end_input").val()))  || showErr("日期请按照 2011-01-30 的格式填写",true);
        ($("#date_start_input").val().length>0 ? NewDate($("#date_start_input").val()) : 0) <= ( $("#date_end_input").val().length>0 ? NewDate($("#date_end_input").val()) : 0) || showErr("起始时间不能够大于结束时间",true);
        //如果初始日期字符长度大于零，则验证合法性，否则返回为零值，用于和结束日期的比较
        if ($("#customer_input").val().length<1){$("#customer_id_input").val("")}
        if ($("#staff_input").val().length<1){$("#staff_id_input").val("")}
        if ($("#date_start_input").val().length>0){
        var sDate = new Date($("#date_start_input").val());
        /*if ((new Date()-sDate)/(1000*24*3600) > 93) {
            showErr("为避免数据量过大，系统只回溯3个月内的订单",true);
        }*/
    }
            //(($("#money_less_input").val().length<1 || (/^[0-9]+(.[0-9]{2}|.[0-9]{1})?$/.test($("#money_less_input").val()))) && ($("#money_more_input").val().length<1 || /^[0-9]+(.[0-9]{2}|.[0-9]{1})?$/.test($("#money_more_input").val()))) || showErr("价格应为整数或最多两位小数的数字",true);
            if (!flag){
                if (this.id == "explort_csv"){postSearch(true,"explort",0)}
                else {postSearch(true,"normal",0);}
            }
        })

         
     })
    </script>
{% endblock %}
{% block nav %}
	<li><a href="/">Home</a></li>
        <li class="act">销售管理</li>
        <li><a href="/depots/">库存管理</a></li>
        <li><a href="/staff/">个人资料</a></li>
        <li><a href="/customer/">会员管理</a></li>
{% endblock %}
{% block head-foot%}
    <div id="head-foo">
    <div id="head-foot">
        <ul>
            <li><a href ="/sales/">新增订单</a></li>
            <li><a href ="#">订单查询 ／ 修改</a></li>
            <li><a href ="/sales/chart/">销售统计</a></li>
        </ul>
    </div>
    </div>
{% endblock %}
{% block contents %}

    <div id="order_search" class="add_cart">
        <p><label for="code_input">订单编号: </label>
        <input type="text" id="code_input" class="ac_input" maxlength="20" style="width:300px" />
        <label>日期: </label>
        <input type="text" id="date_start_input" class="ac_input" style="width: 118px" title="店长以下级别人员只可回溯3个月内订单" />-
        <input type="text" id="date_end_input"  class="ac_input" style="width: 118px" />
        快速导航：<a href="javascript:void(0)" id="simple1" title="前1条订单" class="blue">前1条</a> <a href="javascript:void(0)" id="simple10" title="前10条订单" class="blue">前10条</a> <a href="javascript:void(0)" id="simple100" title="前30条订单" class="blue">前100条</a></p>
        <p>
        {% if level < 5 %}
            <label for="shop_input">选择店铺: </label>
            <select id="shop_input" style="margin:0 6px 0 4px; width: 125px">
                <option value="0">所有店铺</option>
                {% for s in s_list %}<option value="{{ s.id }}">{{ s.name }}</option>{% endfor %}
            </select>
            <input type="text" id="staff_input" style="display: none"/>
            <input type="text" id="staff_id_input" style="display: none"/>
        {% else %}
            <input type="text" id="shop_input" style="display: none"/>
            <label for="staff_input">销售人员: </label>
            <input type="text" id="staff_input" class="ac_input ac_init png" maxlength="10" style="width: 121px" />
            <input type="text" id="staff_id_input" style="display: none"/>
        {% endif %}
        <label for="customer_input">顾客: </label>
        <input type="text" id="customer_input" class="ac_input ac_init png" maxlength="10" style="width:121px"/>
        <input type="text" id="customer_id_input" maxlength="100" style="display: none"/>
        <label for="note_input">备注: </label>
        <input type="text" id="note_input" class="ac_input" style="width:262px" />
        <label for="hidden_input">已删</label>
        <input type="checkbox" id="hidden_input"  class="ac_input"  style="cursor: default"/>
        <label for="explort_input">生成报表</label>
        <input type="checkbox" id="explort_input"  class="ac_input"  style="cursor: default"/>
        <button type="submit" id="order_search_btn" class="m_btn"><img src="/static/images/css/search_small.png" class=" png"> 检索 </button> <a id="explort_csv" href="/static/uploads/csv/result{{  shop_id }}.csv" class="blue">下载</a></p>
    </div>
    <div id="frame_pa" style="display: none;" >
        <iframe id='sale_edit_frame' scrolling='auto' src='' frameborder='0' width="100%" height="100%"></iframe>
    </div>
    <div id="result_div" style="border: 8px solid #F67F3A;"></div>
    <div id="pager_div" ></div>

{% endblock %}