/*-------------------------------------
zTree Style

version:	3.0
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.ztree * {padding:0; margin:0; font-size:14px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif}
.ztree {margin:0; padding:5px; color:#333}
.ztree li{padding:0; margin:0; list-style:none; line-height:1.5em; text-align:left; white-space:nowrap}
.ztree li ul{ margin:0; padding:0 0 0 18px}
.ztree li ul.line{ background:url(./img/line_conn.gif) 0 0 repeat-y;}

.ztree li a {padding:1px 3px 0 0; margin:0 10px 0 0; cursor:pointer; height:16px; color:#333; background-color: transparent;
	text-decoration:none; vertical-align:top; display: inline-block}
.ztree li a:hover {text-decoration:underline}
.ztree li a.curSelectedNode {padding-top:0px; background-color:#FFE6B0; color:black; border:1px #FFB951 solid;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.curSelectedNode_Edit {padding-top:0px; background-color:#FFE6B0; color:black;
	border:1px #FFB951 solid; opacity:0.8; filter:alpha(opacity=80)}
.ztree li a.tmpTargetNode {padding-top:0px; background-color:#316AC5; color:white; border:1px #316AC5 solid;
	opacity:0.8; filter:alpha(opacity=80)}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;
	font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li span {line-height:16px; margin-right: 2px}
.ztree li button {width:16px; height:16px; vertical-align:middle; border:0 none; cursor: pointer;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-image:url("./img/zTreeStandard.png"); *background-image:url("./img/zTreeStandard.gif")}

.ztree li button.chk {width:13px; height:13px; margin:0 3px 0 0; cursor: auto}
.ztree li button.chk.checkbox_false_full {background-position:0 0}
.ztree li button.chk.checkbox_false_full_focus {background-position:0 -12px}
.ztree li button.chk.checkbox_true_full {background-position:0 -24px}
.ztree li button.chk.checkbox_true_full_focus {background-position:0 -36px}
.ztree li button.chk.checkbox_true_part {background-position:0 -48px}
.ztree li button.chk.checkbox_true_part_focus {background-position:0 -60px}
.ztree li button.chk.checkbox_false_part {background-position:0 -72px}
.ztree li button.chk.checkbox_false_part_focus {background-position:0 -84px}
.ztree li button.chk.radio_false_full {background-position:-13px 0}
.ztree li button.chk.radio_false_full_focus {background-position:-13px -12px}
.ztree li button.chk.radio_true_full {background-position:-13px -24px}
.ztree li button.chk.radio_true_full_focus {background-position:-13px -36px}
.ztree li button.chk.radio_true_part {background-position:-13px -48px}
.ztree li button.chk.radio_true_part_focus {background-position:-13px -60px}
.ztree li button.chk.radio_false_part {background-position:-13px -72px}
.ztree li button.chk.radio_false_part_focus {background-position:-13px -84px}

.ztree li button.switch {width:18px; height:18px}
.ztree li button.root_open{background-position:-62px -54px}
.ztree li button.root_close{background-position:-44px -54px}
.ztree li button.roots_open{background-position:-62px 0}
.ztree li button.roots_close{background-position:-44px 0}
.ztree li button.center_open{background-position:-62px -18px}
.ztree li button.center_close{background-position:-44px -18px}
.ztree li button.bottom_open{background-position:-62px -36px}
.ztree li button.bottom_close{background-position:-44px -36px}
.ztree li button.noline_open{background-position:-62px -72px}
.ztree li button.noline_close{background-position:-44px -72px}
.ztree li button.root_docu{ background:none;}
.ztree li button.roots_docu{background-position:-26px 0}
.ztree li button.center_docu{background-position:-26px -18px}
.ztree li button.bottom_docu{background-position:-26px -36px}
.ztree li button.noline_docu{ background:none;}

.ztree li button.ico_open{margin-right:2px; background-position:-80px -16px; vertical-align:top; *vertical-align:middle}
.ztree li button.ico_close{margin-right:2px; background-position:-80px 0; vertical-align:top; *vertical-align:middle}
.ztree li button.ico_docu{margin-right:2px; background-position:-80px -32px; vertical-align:top; *vertical-align:middle}
.ztree li button.edit {margin-right:2px; background-position:-80px -48px; vertical-align:top; *vertical-align:middle}
.ztree li button.remove {margin-right:2px; background-position:-80px -64px; vertical-align:top; *vertical-align:middle}

.ztree li button.ico_loading{margin-right:2px; background:url(./img/loading.gif) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

ul.tmpTargetzTree {background-color:#FFE6B0; opacity:0.8; filter:alpha(opacity=80)}

button.tmpzTreeMove_arrow {width:16px; height:16px; padding:0; margin:2px 0 0 1px; border:0 none; position:absolute;
	background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
	background-position:-80px -80px; background-image:url("./img/zTreeStandard.png"); *background-image:url("./img/zTreeStandard.gif")}

ul.zTreeDragUL {margin:0; padding:0; position:absolute; width:auto; height:auto;overflow:auto; background-color:#cfcfcf; border:1px #00B83F dotted; opacity:0.8; filter:alpha(opacity=80)}
.zTreeMask {z-index:10000; background-color:#cfcfcf; opacity:0.0; filter:alpha(opacity=0); position:absolute}

/* level 等级样式*/
/*.ztree li button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/